<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="style.css">
    <title>Alpaca Fan Club Form</title>
</head>
<body>
    <div id="myApp" v-cloak>
        <form>
            <fieldset>
                <legend>Fan Club Registration</legend>

                <div>
                    <label for="firstName">First Name</label>
                    <input id="firstName" v-model="firstName">  
                    <!-- v-model ties input to property -->
                </div>
                <div>
                    <label for="lastName">Last Name</label>
                    <input id="lastName" v-model="lastName">
                </div>
                <div>
                    <label for="street">Street Address</label><input type="street" v-model="street">
                </div>
                <div>
                    <label for="state">State</label>
                        <select name="" id="" v-model="state">
                            <option v-for="state in availableStates" v-bind:value="state.value">{{state.name}}</option>
                        </select>
                </div>
                <div>
                    <label for="">Country</label>
                    <input type="street" v-model="country" maxlength="3">
                </div>
                <div class="alpaca-color">
                   <p>Favorite Alpaca Colors</p>
                   <div>
                       <ul>
                           <!-- loop -->
                           <li v-for="color in colors">
                               <!-- name is displayed, value is what it is when selected -->
                               <label v-bind:for="color.value">
                                    <input type="checkbox" 
                                    v-model="selectedColors"
                                    v-bind:id="color.value" v-bind:value="color.value">
                                    {{color.name}}
                                </label>
                            </li>
                        </ul>
                       
                    </div> 
                </div>
                <div class="alpaca-status">
                    <label for="">Alpaca Status</label><textarea name="" id="" cols="30" rows="10" v-model="status"></textarea>
                </div>
            </fieldset>
            <div class="output">
                <h3>Output</h3>
                First Name: {{firstName}}<br>
                Last Name: {{lastName}}<br>
                Street Address: {{street}}<br>
                State: {{state}}<br>
                Country: {{country}}<br>
                Color: {{selectedColors}}<br>
                Status: {{status}}<br>
            </div>
        </form>
    </div>

    <script src="script.js"></script>
</body>
</html>