html, body {
    margin: 0;
    padding: 0;  
}
h1 {
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
canvas {
    display: block;
    margin: 0 auto 2rem auto;
    width: 50%;
}
button {
    display: block;
    margin: 0 auto 2rem auto;
}
a {
    text-decoration: none;
    color: black;
}