<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="style.css">
    <title>Show and Tell</title>
</head>
<body>
    <section class = "section" id="myApp">
        <div class="container" v-cloak>
            <h2>CD Collection</h2>
            <table class="table">
                <thead>
                    <th>Album Name</th>
                    <th>Artist</th>
                    <th>Year Released</th>
                    <th>Genre</th>
                    <th>Album Cover</th>
                    <th>Collected?</th>
                    <th>Actions</th>
                </thead>
                <tbody>
                    <tr v-for="(album, index) in albums" v-bind:class="{even: (index + 1) % 2 === 0, odd: (index + 1) % 2 !== 0}">
                        <td>{{album.name}}</td>
                        <td id="artist">{{album.artist}}</td>
                        <td>{{album.year}}</td>
                        <td>{{album.genre}}</td>
                        <td>
                            <img v-bind:src="album.cover">
                        </td>
                        <td>{{album.collected}}</td>
                        <td>
                            <button type="button" v-on:click="deleteItem(album)">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        
        <form v-on:submit.prevent="submitHandler">
            <fieldset>
                <legend>Add a game to the collection</legend>
                <div>
                    <label for="name">Album Name</label>
                    <input id="name" type="text" v-model="newAlbum.name">
                </div>

                <div>
                    <label for="artist-name">Artist</label>
                    <input id="artist-name" type="text" v-model="newAlbum.artist">
                </div>

                <div>
                    <label for="year">Year Released</label>
                    <input id="year" type="text" v-model="newAlbum.year">
                </div>

                <div>
                    <label for="genre">Genre</label>
                    <input id="genre" type="text" v-model="newAlbum.genre">
                </div>

                <div>
                    <label for="cover">Album Cover</label>
                    <input id="cover" type="text" v-model="newAlbum.cover">
                </div>

                <div>
                    <label for="owned">Owned</label>
                    <input id="owned" type="checkbox" v-model="newAlbum.collected">
                </div>
                <button type="submit">Submit</button>
            </fieldset>
        </form>
   
    </section>
    <script src="script.js"></script>
</body>
</html>